<h1>Update your Gear! </h1>
<%= form_for @gear do |g|%>
<%= g.text_field :name, {placeholder: "name"}%>
<%= g.text_field :brand, {placeholder: "brand"}%>
<%= g.text_field :weight, {placeholder: "weight"}%>
<%= g.text_field :pricing, {placeholder: "$,$$, or $$$"}%>
<%= g.text_area :personal_review, {placeholder: "Your Review"}%>


<%= g.submit %>

<%end%>
