

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Add Item to Rack</h1>
    <%= form_for @gear do |f| %>
      <div class="form-group">
        
        <%= f.text_field :name, class: "form-control", placeholder: "Name and Model" %>
      </div>
      <div class="form-group">
        
        <%= f.text_field :brand, class: "form-control", placeholder: "Brand" %>
       </div>
       <div class="form-group">
        
        <%= f.text_field :weight, class: "form-control", placeholder: "Weight in lbs." %>
      </div>
       <div class="form-group">
        
        <%= f.select :pricing, [["Pricing","pricing"],['$$$','$$$'],['$$','$$'],['$','$']],class: "form-control"  %>
    
      </div>
      <div class="form-group">
        
        <%= f.text_area :personal_review, class: "form-control", placeholder: "Review" %>
      </div>
      <%= f.submit "Add Gear", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

