<h1><%=@gear.user.name%>'s <%=@gear.name%></h1>
<div class="card" style="width: 19rem;">
     <% if @gear.image_url == "" || @gear.image_url == nil%>
     <img class="card-img-top" src="https://i.kinja-img.com/gawker-media/image/upload/s--Xx6bDdtP--/c_scale,f_auto,fl_progressive,q_80,w_800/lbx5p2yhm1plmiokpxrp.jpg" alt="Card image cap" alt="Card image cap">
    <%else%>
   <img class="card-img-top" src="<%=@gear.image_url%>">
    <%end%>
   <div class="card-body">
    <h5 class="card-title"><%=@gear.name%></h5>
     <p class="card-text"><%=@gear.personal_review%></p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Brand: <%=@gear.brand%></li>
        <li class="list-group-item">Weight: <span id = "gear-weight"><%=@gear.weight%></span>lbs.</li>
        <li class="list-group-item">Pricing: <%=@gear.pricing%></li>
        </ul>
         <div class="card-body">
         <button style = "button" class="btn btn-primary">Shop</button>
         <%= link_to "Add to Backpack", add_to_backpack_path(@gear.id), {method: "post", class: "btn btn-primary"} %>
         <!-- <button style = "button" id = "add-button" class="btn btn-primary">Add to Backpack</button> -->
     </div>
</div>

<div class="card card-size">
  <div class="card-header">
    Community Reviews
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer"> Clayton</footer>
    </blockquote>
  </div>
</div>

<script>
// var addBtn = document.querySelector("#add-button")
// var gearWeight = document.querySelector("#gear-weight")

// var getWeight = localStorage.getItem("weight")
// addBtn.addEventListener("click", function(){
//  weight.innerText = parseInt(weight.innerText) + parseInt(gearWeight.innerText)
//  var storage = localStorage.setItem("weight", weight.innerText)
// })


// </script>



