<!DOCTYPE html>
<html>
  <head>
    <title>GearRack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <img class = "home-background" src = "https://wallpaperfm.com/img/original/7/6/e/60654.jpg">
  <%= render "/partial/nav" %>
  <%= render "/partial/log" %>

  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <%= yield %>
      </div>
      <div class="col-md-2">
        <%= render "/partial/backpack"%>
      </div>
    </div>
  </div>
 
    
  </body>



</html>
